body {
  background: #2c2c2c;
}

h2 {
  font-size: 1.25rem;
  margin: 1rem 0.5rem;
}

progress {
  width: 80%;
  height: 2rem;
}

#health-levels,
#controls {
  margin: 2rem auto;
  width: 30rem;
  text-align: center;
  padding: 1rem;
}
